html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
/*--------------------*/
html,
body {
  overflow-x: hidden;
}
/*---------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1;
}

.container {
  box-sizing: border-box;
  margin: 0px auto;
}

.homeMain {
  flex: 1;
  display: flex;
}

.footer_container {
  width: 90vw;
  padding: 3px;
  display: flex;
  align-items: center;
}

footer {
  width: 100%;
  background: #f1f2f8;
  height: 64px;
  display: flex;
}

.homeMain__left_nav {
  min-width: 240px;
  background: #f1f2f8;
  padding: 40px 20px;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 629px) {
  .homeMain__left_nav {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
    visibility: hidden;
  }
}
.homeMain__left_nav_burger {
  min-width: 240px;
  background: #f1f2f8;
  padding: 40px 20px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

@media (min-width: 630px) {
  .homeMain__left_nav_burger {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
    visibility: hidden;
  }
}

.homeMain__left_nav_logoBurger {
  display: flex;

  margin-bottom: 50px;
  justify-content: space-between;
  align-items: center;
}

.homeMain__left_nav_logo {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d1d2df;
  cursor: pointer;
}
.homeMain__left_nav_top {
  width: 100%;
}

.homeMain__left_nav_compo {
  display: flex;
  align-items: center;
  margin: 25px 0;
  cursor: pointer;
}
.homeMain__left_nav_compo_img {
  margin-right: 10px;
}

.homeMain__left_nav_top_bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.homeMain__left_nav_top_bottom_user_info {
  display: flex;
  align-items: center;
}

.homeMain__left_nav_top_bottom_img {
  margin-right: 15px;
}

.homeMain__left_nav_bottom_clicked {
  background: #fff;
  position: absolute;
  left: 240px;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  width: 240px;
  padding: 10px;
  box-shadow: 0px 4px 50px 0px #00000040;
  border-radius: 10px 10px 10px 0px;
}

.homeMain__left_nav_bottom_clicked_compo {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

.left_nav_bottom_clicked_img {
  margin-right: 10px;
}

.rightMain_container {
  width: 100%;
  padding: 40px 80px;
}
@media (max-width: 900px) {
  .rightMain_container {
    padding: 40px 40px;
  }
}

.rightMain__content_routes {
  display: flex;
  font-size: 16px;
  color: #5d5d65;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;
}

.rightMain__content_slash {
  margin: 0 5px;
}

.rightMain__content_routes_content {
  display: flex;
  align-items: center;
}

.rightMain__content_routes_burger {
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
}

@media (min-width: 630px) {
  .rightMain__content_routes_burger {
    position: absolute;
    z-index: -10;
    visibility: hidden;
  }
}

.rightMain__content_routes_burger_line {
  height: 25%;
  background: #21222d;
  width: 100%;
  border-radius: 10px;
}

.rightMain__content_add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

@media (max-width: 700px) {
  .rightMain__content_add {
    display: block;
  }
}

.rightMain__content_add_h {
  font-weight: 600;
  font-size: 36px;
}

@media (max-width: 700px) {
  .rightMain__content_add_h {
    margin-bottom: 20px;
    text-align: center;
  }
}

.rightMain__content_add_button {
  display: flex;
  background: #21222d;
  width: 120px;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .rightMain__content_add_button {
    width: 100%;
  }
}

.rightMain__content_zero_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightMain__content_zero_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.rightMain__content_zero_img {
  margin: 20px 0 40px 0;
}

.rightMain__content_zero_txt1 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 30px;
}

.rightMain__content_zero_txt2 {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
}

.rightMain__content_service {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  background: #f1f2f8;
  margin-bottom: 30px;
}

@media (max-width: 850px) {
  .rightMain__content_service {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.rightMain__content_service_rect {
  width: 220px;
  height: 128px;
  background: #d1d2df;
  border-radius: 8px;
  margin-right: 20px;
  min-width: 150px;
}

@media (max-width: 850px) {
  .rightMain__content_service_rect {
    margin-bottom: 20px;
  }
}

.rightMain__content_service_txt {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 850px) {
  .rightMain__content_service_txt {
    margin-bottom: 20px;
  }
}

.rightMain__content_service_txt_title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

@media (max-width: 850px) {
  .rightMain__content_service_txt_title {
    margin-bottom: 5px;
  }
}

.rightMain__content_service_btns {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightMain__content_service_leftSide {
  display: flex;
}

@media (max-width: 850px) {
  .rightMain__content_service_leftSide {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.rightMain__content_service_btns_content {
  width: 50%;
  display: flex;
  justify-content: space-between;
  min-width: 80px;
}

.rightMain__content_service_btn {
  cursor: pointer;
}

.rightMain__content_service_txt_title_input {
  padding: 5px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.rightMain__content_service_txt_title_txtArea {
  height: 60px;
  font-size: 18px;
  font-weight: 400;
  padding: 5px;
}

.space_inst_zero {
  height: 100px;
}

.rightMain__content_service_btn_save {
  display: flex;
  background: #21222d;
  width: 120px;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;
}

.rightMain__content_service_btn_save_blured {
  display: flex;
  background: #21222d;
  width: 120px;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;
  visibility: hidden;
}

.login_leftVideo {
  width: 540px;
  background: #f1f2f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 950px) {
  .login_leftVideo {
    visibility: hidden;
    position: absolute;
    z-index: -10;
  }
}

.login_RightMain {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  flex: 1;
  padding: 20px;
}

.login__RightMain_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__RightMain_inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__RightMain_welcome {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  margin: 24px 0 0 0;
}

.login__RightMain_el_sign_up_btn {
  display: flex;
  width: 420px;
  height: 50px;
  padding: 12px 20px 12px 20px;
  gap: 10px;
  border-radius: 8px;
  background: #21222d;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin: 24px 0 0 0;
  cursor: pointer;
}

.login__RightMain_el_have_acc {
  margin: 24px 0 0 0;
  cursor: pointer;
  color: #535460;
}

.login__RightMain_input {
  width: 420px;
  height: 40px;
  padding: 12px 20px;
  gap: 10px;
  border-radius: 8px;
  border: 1px;
  border: 1px solid #8e8f9b;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 24px 0 0 0;
}

.login__RightMainLogin_inputs {
  display: flex;
  flex-direction: column;
  height: 360px;
  align-items: center;
  justify-content: space-between;
}

.login__RightMain_el_forgotpass {
  width: 100%;
  text-align: right;
  margin-top: 24px;
  cursor: pointer;
  color: #535460;
}

.login__RightMain_email_send_txt {
  margin-top: 16px;
}
