html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
/*--------------------*/
html,
body {
  overflow-x: hidden;
}
/*---------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1;
}

.container {
  box-sizing: border-box;
  margin: 0px auto;
}

.homeMain {
  flex: 1;
  display: flex;
}

.footer_container {
  width: 90vw;
  padding: 3px;
  display: flex;
  align-items: center;
}

footer {
  width: 100%;
  background: #f1f2f8;
  height: 64px;
  display: flex;
}

.homeMain__left_nav {
  width: 240px;
  background: #f1f2f8;
  padding: 40px 20px;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

.homeMain__left_nav_logo {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d1d2df;
  margin-bottom: 50px;
  cursor: pointer;
}
.homeMain__left_nav_top {
  width: 100%;
}

.homeMain__left_nav_compo {
  display: flex;
  align-items: center;
  margin: 25px 0;
  cursor: pointer;
}
.homeMain__left_nav_compo_img {
  margin-right: 10px;
}

.homeMain__left_nav_top_bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.homeMain__left_nav_top_bottom_user_info {
  display: flex;
  align-items: center;
}

.homeMain__left_nav_top_bottom_img {
  margin-right: 15px;
}

.homeMain__left_nav_bottom_clicked {
  background: #a8a8a8;
  position: absolute;
  left: 240px;
  bottom: 20vh;
  display: flex;
  width: 240px;
}
