html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
/*--------------------*/
html,
body {
  overflow-x: hidden;
}
/*---------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1;
}

.container {
  box-sizing: border-box;
  margin: 0px auto;
}

.homeMain {
  flex: 1;
  display: flex;
}

.footer_container {
  width: 90vw;
  padding: 3px;
  display: flex;
  align-items: center;
}

footer {
  width: 100%;
  background: #f1f2f8;
  height: 64px;
  display: flex;
}

.homeMain__left_nav {
  min-width: 240px;
  background: #f1f2f8;
  padding: 40px 20px;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

.left_nav_half {
  min-width: 60px;
  background: #f1f2f8;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 629px) {
  .homeMain__left_nav {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
    visibility: hidden;
  }
}
.homeMain__left_nav_burger {
  min-width: 240px;
  background: #f1f2f8;
  padding: 40px 20px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  z-index: 10000000000;
}

.homeMain__left_nav_compo_span {
  color: #21222d;
}

@media (min-width: 630px) {
  .homeMain__left_nav_burger {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
    visibility: hidden;
  }
}

.homeMain__left_nav_logoBurger {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
  align-items: center;
}

.left_nav_logoBurger_half {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}

.homeMain__left_nav_logo {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d1d2df;
  cursor: pointer;
}

.left_nav_logo_half {
  width: 44px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d1d2df;
  cursor: pointer;
  font-size: 10px;
  font-weight: 600;
  line-height: 14.35px;
  margin: 0 auto;
}

.homeMain__left_nav_top {
  width: 100%;
}

.homeMain__left_nav_compo {
  display: flex;
  align-items: center;
  margin: 25px 0;
  cursor: pointer;
}
.homeMain__left_nav_compo_img {
  margin-right: 10px;
}

.left_nav_compo_img_half {
  margin: 0 auto;
}

.homeMain__left_nav_top_bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.homeMain__left_nav_top_bottom_user_info {
  display: flex;
  align-items: center;
}

.left_nav_top_bottom_user_info_half {
  margin: 0 auto;
}

.homeMain__left_nav_top_bottom_img {
  margin-right: 15px;
}

.homeMain__left_nav_bottom_clicked {
  background: #fff;
  position: absolute;
  left: 240px;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  width: 240px;
  padding: 10px;
  box-shadow: 0px 4px 50px 0px #00000040;
  border-radius: 10px 10px 10px 0px;
}

.homeMain__left_nav_bottom_clicked_compo {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

.left_nav_bottom_clicked_img {
  margin-right: 10px;
}

.rightMain_container {
  width: 100%;
  padding: 30px 60px;
}
@media (max-width: 900px) {
  .rightMain_container {
    padding: 30px 30px;
  }
}

.rightMain__content_routes {
  display: flex;
  font-size: 16px;
  color: #5d5d65;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;
}

.rightMain__content_routeName_lighter {
  color: #bfbfbf;
}

.rightMain__content_slash {
  margin: 0 5px;
}

.rightMain__content_routes_content {
  display: flex;
  align-items: center;
}

.rightMain__content_routes_burger {
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
}

@media (min-width: 630px) {
  .rightMain__content_routes_burger {
    position: absolute;
    z-index: -10;
    visibility: hidden;
  }
}

.rightMain__content_routes_burger_line {
  height: 25%;
  background: #21222d;
  width: 100%;
  border-radius: 10px;
}

.rightMain__content_add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

@media (max-width: 700px) {
  .rightMain__content_add {
    display: block;
  }
}

.rightMain__content_add_h {
  font-weight: 600;
  font-size: 36px;
}

@media (max-width: 700px) {
  .rightMain__content_add_h {
    margin-bottom: 20px;
    text-align: center;
  }
}

.rightMain__content_add_button {
  display: flex;
  background: #21222d;
  width: 120px;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .rightMain__content_add_button {
    width: 100%;
  }
}

.rightMain__content_zero_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightMain__content_zero_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.rightMain__content_zero_img {
  margin: 20px 0 40px 0;
}

.rightMain__content_zero_txt1 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 30px;
}

.rightMain__content_zero_txt2 {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
}

.rightMain__content_service {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  background: #f1f2f8;
  margin-bottom: 30px;
}

@media (max-width: 850px) {
  .rightMain__content_service {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.rightMain__content_service_rect {
  width: 220px;
  height: 128px;
  background: #d1d2df;
  border-radius: 8px;
  margin-right: 20px;
  min-width: 150px;
}

@media (max-width: 850px) {
  .rightMain__content_service_rect {
    margin-bottom: 20px;
  }
}

.rightMain__content_service_txt {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 850px) {
  .rightMain__content_service_txt {
    margin-bottom: 20px;
  }
}

.rightMain__content_service_txt_title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

@media (max-width: 850px) {
  .rightMain__content_service_txt_title {
    margin-bottom: 5px;
  }
}

.rightMain__content_service_btns {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightMain__content_service_leftSide {
  display: flex;
}

@media (max-width: 850px) {
  .rightMain__content_service_leftSide {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.rightMain__content_service_btns_content {
  width: 50%;
  display: flex;
  justify-content: space-between;
  min-width: 80px;
}

.rightMain__content_service_btn {
  cursor: pointer;
}

.rightMain__content_service_txt_title_input {
  padding: 5px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.rightMain__content_service_txt_title_txtArea {
  height: 60px;
  font-size: 18px;
  font-weight: 400;
  padding: 5px;
}

.space_inst_zero {
  height: 100px;
}

.rightMain__content_service_btn_save {
  display: flex;
  background: #21222d;
  width: 120px;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;
}

.rightMain__content_service_btn_save_blured {
  display: flex;
  background: #21222d;
  width: 120px;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;
  visibility: hidden;
}

.login_leftVideo {
  width: 540px;
  background: #f1f2f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 950px) {
  .login_leftVideo {
    visibility: hidden;
    position: absolute;
    z-index: -10;
  }
}

.login_RightMain {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  flex: 1;
  padding: 20px;
}

.login__RightMain_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__RightMain_inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__RightMain_welcome {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  margin: 24px 0 0 0;
}

.login__RightMain_el_sign_up_btn {
  display: flex;
  width: 420px;
  height: 50px;
  padding: 12px 20px 12px 20px;
  gap: 10px;
  border-radius: 8px;
  background: #21222d;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin: 24px 0 0 0;
  cursor: pointer;
}

.login__RightMain_el_have_acc {
  margin: 24px 0 0 0;
  cursor: pointer;
  color: #535460;
}

.login__RightMain_input {
  width: 420px;
  height: 40px;
  padding: 12px 20px;
  gap: 10px;
  border-radius: 8px;
  border: 1px;
  border: 1px solid #8e8f9b;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 24px 0 0 0;
}

.login__RightMainLogin_inputs {
  display: flex;
  flex-direction: column;
  height: 360px;
  align-items: center;
  justify-content: space-between;
}

.login__RightMain_el_forgotpass {
  width: 100%;
  text-align: right;
  margin-top: 24px;
  cursor: pointer;
  color: #535460;
}

.login__RightMain_email_send_txt {
  margin-top: 16px;
}

.Add__back_next_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Add__back_next_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 45px;
  padding: 12px 20px;
  gap: 10px;
  border-radius: 8px;
  border: 2px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.Add__back_next_back_btn {
  border: 2px solid #21222d;
  color: #21222d;
}

.Add__back_next_next_btn {
  background: #21222d;
  border: 2px solid #21222d;
  color: #fff;
}

.numberLine_container {
  display: flex;
}

.numberLine__circle {
  width: 28px;
  height: 28px;
  padding: 10px;
  gap: 10px;
  border-radius: 50%;
  border: 1px solid #21222d;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d1d2df;
  color: #d1d2df;
}

.numberLine_circPline {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.numberLine_line {
  width: 152px;
  height: 1px;
  background: #d1d2df;
}

.addRightMain_h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  margin-bottom: 30px;
}

.numberLine_h {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #1e2139;
}

.numberLine__circle_black {
  border: 1px solid #21222d;
  color: #21222d;
}

.numberLine_line_black {
  background: #21222d;
}

.add__genInfo_container {
  display: flex;
  flex-direction: column;
}

.add__genInfo_input-container {
  position: relative;
  margin-bottom: 30px;
}

.add__supplier_container {
  margin-bottom: 30px;
}

.add__supplier_input_container {
  position: relative;
}

.add__supplier_container_top {
  display: flex;
  margin-bottom: 24px;
}

.input-label {
  position: absolute;
  top: -10px;
  left: 20px;
  background: white;
  padding: 0 5px;
  font-size: 12px;
  color: #21222d;
  font-weight: 600;
  line-height: 18px;
}

.add__genInfo_in {
  width: 481px;
  padding: 12px 20px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #21222d;
}

.add__genInfo_in2 {
  height: 126px;
}

.add__supplier_inp {
  padding: 12px 20px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #21222d;
  height: 40px;
}

.add__supplier_inp_left {
  width: 360px;
}

.add__supplier_inp_right {
  width: 270px;
}

.add__supplier_input_container_left {
  margin-left: 30px;
}

.add__prices_checkBoxes {
  display: flex;
  width: 650px;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 30px;
}

.add__prices_checkBox {
  display: flex;
  align-items: center;
}

.add__prices_checkBox_inputContainer {
  display: flex;
  margin-right: 15px;
}

.add__prices_checkBox {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.add__prices_checkBox_input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.checkmark {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  border: 2px solid #8e8f9b;
  transition: border 0.1s ease;
}

.add__prices_checkBox_input:checked ~ .checkmark {
  border: 6px solid #21222d;
}

.prices__samePrices_inp {
  width: 180px;
  height: 40px;
  padding: 12px 20px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #21222d;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #21222d;
  margin-bottom: 30px;
}

.prices__separatePrices_inp_2 {
  width: 180px;
  height: 40px;
  padding: 12px 20px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #21222d;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #21222d;
}

.prices__separatePrices_typePrice {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #21222d;
  margin-bottom: 24px;
}

.prices__separatePrices_type_container {
  width: 330px;
  margin-right: 30px;
}

.prices__separatePrices_inp {
  width: 330px;
  height: 40px;
  padding: 12px 20px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #21222d;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #21222d;
  margin-right: 30px;
}

.add__prices_addLine {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #535460;
  margin: 20px 0;
}

.add__prices_addLine_img {
  margin-right: 10px;
}

.prices__separatePrices_trash {
  margin-left: 30px;
}

.prices__separatePricesInput_container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.prices__separatePrices_trash_container {
  cursor: pointer;
}

.add__media_photo_h {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #21222d;
  margin: -20px 0 30px 0;
}

.add__media_photo_photo_container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.add__media_photo_photo_add_btn {
  width: 262.5px;
  height: 176px;
  padding: 12px 20px 12px 20px;
  gap: 10px;
  border-radius: 8px;
  border: 2px dashed #21222d;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 10px 10px 0;
}

.add__media_photo_photo {
  width: 262.5px;
  height: 176px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0 10px 10px 0;
  position: relative;
  border: 2px solid #f1f2f8;
}

.add__media_photo_photo_add_btn_img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border-radius: 8px;
}

.add__media_photo_photo_trash_container {
  width: 34px;
  height: 34px;
  padding: 5px;
  gap: 10px;
  border-radius: 5px;
  background: #ffffff;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.add__media_video_h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #1e2139;
  margin-bottom: 10px;
}

.add__media_video_h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 30px;
}

.AddSupplierContact_h {
  margin: 20px 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
}

.AddSupplierContact_inputs {
  display: flex;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.rightMain__content_routeName_viewService {
  color: #bfbfbf;
}

.rightMain__content_add_txt {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.rightMain__content_add_right {
  display: flex;
  align-items: center;
}

.rightMain__content_add_addPriceList {
  display: flex;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
}

.rightMain__content_add_share {
  display: flex;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
}

.rightMain__content_add_img {
  margin-right: 10px;
}

.viewService__NameDesription_name {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 10px;
}

.viewService_NameDesription {
  margin-bottom: 40px;
}

.viewService__NameDesription_description {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  width: 840px;
  gap: 0px;
  opacity: 0px;
}

.viewService__prices_h {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 20px;
}

.viewService__prices_name {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.viewService__prices_price {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

.viewService__prices_value {
  display: flex;
  margin-bottom: 10px;
}

.viewService__prices_name {
  width: 420px;
}

.rightMain__content_add_view {
  margin: 30px 0;
}

.viewService_supplier_personalData {
  margin-bottom: 40px;
}

.viewService_supplier_h {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 20px;
}

.viewService_supplier_sb {
  margin-bottom: 40px;
}

.viewService_supplier_contactTxt {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}

.viewService_supplier_contactValue {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.viewService_prices {
  margin-bottom: 40px;
}

.viewService_supplier_contact_container {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.viewService_supplier_contactDots {
  flex-grow: 1;
  height: 1px;
  border-bottom: 1px dotted black;
  margin: 0 10px;
}

.viewService_supplier {
  max-width: 840px;
}

.viewService_photos {
  width: 1080px;
  display: flex;
  margin-bottom: 60px;
}

.viewService__photos_bigPhoto {
  background: #d1d2df;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.viewService__photos_smallPhoto {
  background: #d1d2df;
  width: 255px;
  height: 180px;
  border-radius: 8px;
}

.viewService__photos_sideLeft {
  width: 530px;
  height: 380px;
  margin-right: 20px;
}

.viewService__photos_sideRight {
  width: 530px;
  height: 380px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.rightMain_task {
  width: 100%;
}

.rightMain__content_add_sort {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.rightMain__content_add_sort_txt {
  margin-right: 10px;
}

.rightMain__content_add_sort_arr {
  transform: rotate(90deg);
}

.rightMain__content_add_sort_arrUp {
  transform: rotate(-90deg);
}

.rightMain__content_add_sort_arr,
.rightMain__content_add_sort_arrUp {
  transition: transform 0.1s ease-in-out;
}

.rightMain__content_add_search_container {
  width: 360px;
  height: 50px;
  padding: 12px 20px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #21222d;
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

.rightMain__content_add_search_inp {
  width: 80%;
}

input:focus {
  outline: none;
  box-shadow: none;
}

.rightMain__task_static {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #d1d2df;

  padding-bottom: 10px;
}

.rightMain__task_static_txtParr_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rightMain__task_static_name {
  width: 14%;
}

.rightMain__task_static_type {
  width: 14%;
}

.rightMain__task_static_time {
  width: 12%;
}

.rightMain__task_static_desc {
  width: 20%;
}

.rightMain__task_static_user {
  width: 26%;
}

.rightMain__task_static_txt {
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: #535460;
}

.task_compo {
  padding-bottom: 10px;
  border-bottom: 1px solid #d1d2df;
  padding: 16px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #21222d;
}

.task_compo_left {
  display: flex;
  gap: 20px;
  align-items: center;
}

.task_calendar {
  margin-right: 10px;
}

.task_compo_user_ava,
.task_compo_user_set_img,
.rightMain__task_upDown_img {
  height: 18px;
}

.task_compo_user_mailText,
.rightMain__task_static_txt {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: #535460;
  margin: 0;
}
.task_compo {
  position: relative;
  display: flex;
  align-items: center;
}

.task_compo_left {
  flex: 1;
}

.task_compo_threeDots {
  position: absolute;
  right: 0;
}
